source https://nuget.org/api/v2
storage:none

clitool dotnet-fable
nuget Fable.Core
nuget Fable.Import.Node
nuget FSharp.Core

git https://github.com/ionide/ionide-fsgrammar.git master

github Ionide/ionide-vscode-helpers src/Fable.Import.VSCode.fs
github Ionide/ionide-vscode-helpers src/Helpers.fs

group Build
    source https://www.nuget.org/api/v2

    nuget FAKE

    github fsharp/FAKE modules/Octokit/Octokit.fsx
