source https://nuget.org/api/v2
storage:none

clitool dotnet-fable 1.2.4
nuget Fable.Core 1.2.4
nuget Fable.Import.Node 0.1.5
nuget FSharp.Core

git https://github.com/ionide/ionide-fsgrammar.git master

github Ionide/ionide-vscode-helpers src/Fable.Import.VSCode.fs
github Ionide/ionide-vscode-helpers src/Helpers.fs

group Build
    source https://www.nuget.org/api/v2
    framework: net472

    nuget FAKE ~> 4

    github fsharp/FAKE modules/Octokit/Octokit.fsx
