source https://nuget.org/api/v2


git git@github.com:ionide/ionide-vscode-helpers.git master build:"build.cmd"
git git@github.com:ionide/ionide-fsgrammar.git master

nuget FAKE
nuget Npm.js

github fsharp/FAKE modules/Octokit/Octokit.fsx

github Ionide/ionide-vscode-helpers:master Fable.Import.VSCode.fs
github Ionide/ionide-vscode-helpers:master Helpers.fs